In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("database/example.db")
cursor = conn.cursor()

# Create a table with sample data
cursor.execute("""
CREATE TABLE IF NOT EXISTS my_table (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

# Insert sample data
cursor.executemany("""
INSERT INTO my_table (name, age) VALUES (?, ?)
""", [("Alice", 30), ("Bob", 25), ("Charlie", 35)])

conn.commit()

# Define a query
query = "SELECT * FROM my_table"

# Execute query and load data into pandas DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df.head())

# Close the connection
conn.close()

   id     name  age
0   1    Alice   30
1   2      Bob   25
2   3  Charlie   35